body {
    font-family: 'Times New Roman', Times, serif;
    background-color:lightblue;
}


.title {
    text-align: center;
    color: red;
    font-size: 100px;
}

.explaination {
    color:red;
    font-size: x-large;
    font-weight: bold;
}

.book-title {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.book-explaination {
    color: red;
    font-size: large;
    font-weight: bolder;
}


.book-image {
    display: block;
    text-align: center;
}

footer {
    background-color: grey;
    color: black;

}

::selection {
    color: white;
    background: black;
}

